<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{name}}</title>

<script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

<div class="max-w-4xl mx-auto p-8">

<h1 class="text-4xl font-bold">
{{name}}
</h1>

<p>{{phone}}</p>

<p>{{email}}</p>

<p>{{linkedin}}</p>

<hr class="my-6">

<h2 class="text-2xl font-bold">
Professional Summary
</h2>

<p>
{{summary}}
</p>

<hr class="my-6">

<h2 class="text-2xl font-bold">
Skills
</h2>

<ul>
{{skills}}
</ul>

</div>

</body>
</html>
